// general

* {
    box-sizing: border-box;
    // margin: 10px 0;
    // padding: 0;
    border: 1px solid black;
}

#editorWrap,
#previewWrap {
    width: 720px;
    max-width: 90%;

}

.toolbar {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.toolbarHeading {
    margin: 0;
    font-size: large;
}

.fa-square-plus {
    height: 100%;
}

.displayToggle {
    display: none
}

#editor {
    width: 100%;
    height: 405px;
}


// markdown styling

#previewWrap blockquote {
    border-left: 2px solid #ccc;
    padding-left: 10px
}

#previewWrap img {
    height: 250px;
}