// general

* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    // border: 1px solid black;
}

body {
    background-color: rgb(255, 249, 239);
}

// heading

#title,
#by {
    text-align: center;
}

#title {
    margin-bottom: 0;
}

#by {
    font-size: small;
    margin: 0;
}

// wraps

#editorWrap,
#previewerWrap {
    width: 720px;
    max-width: 90%;
    margin: 25px auto;
    border: 1.5px solid black;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

// toolbar

.toolbar {
    display: flex;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1.5px solid black;
    background-color: rgb(212, 234, 255);
}

.toolbarHeading {
    margin: 3px;
    font-size: large;
}

.fa-square-plus,
.fa-square-minus {
    height: 100%;
    margin-right: 2px;
}

.fa-square-plus:hover,
.fa-square-minus:hover {
    color: rgb(97, 203, 97)
}

// editor

#editor {
    width: 100%;
    border: none;
    outline: 0;
    background-color: white;
}

.displayToggle {
    display: none
}

.short {
    height: 405px;
}

.tall {
    height: 810px;
}

// previewer (markdown styling)

#previewer {
    background-color: white;
    padding: 25px
}

#previewer code {
    background-color: rgb(225, 225, 225);
    padding: 5px;
}

#previewer pre {
    background-color: rgb(225, 225, 225);
    display: inline-block;
    line-height: 1.5em;
    padding: 10px;
    max-width: 100%;
    overflow: auto;
}

#previewer blockquote p {
    border-left: 3px solid #7d7d7d;
    padding: 2px 0 2px 10px;
}

#previewer table,
th,
td {
    border: 1.5px solid black;
    border-collapse: collapse;
    padding: 5px;
}

#previewer img {
    height: 250px;
}